<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALLOW_AUDIT_MODE</key>
	<false/>
	<key>ALLOW_FIS</key>
	<false/>
	<key>ALLOW_PREFERENCES</key>
	<true/>
	<key>ALLOW_PUDDING</key>
	<true/>
	<key>EQUIPMENTS</key>
	<array>
		<dict>
			<key>BAUD_RATE</key>
			<real>230400</real>
			<key>CLASSNAME</key>
			<string>Device</string>
			<key>CTL_TYPE</key>
			<string>UART</string>
			<key>FLOW_CTL</key>
			<false/>
			<key>PARITY_CTL</key>
			<false/>
			<key>PATH</key>
			<string></string>
			<key>USEDFOR</key>
			<string>THRD1_DevUART</string>
		</dict>
		<dict>
			<key>BAUD_RATE</key>
			<real>9600</real>
			<key>CLASSNAME</key>
			<string>RelayBox</string>
			<key>CTL_TYPE</key>
			<string>UART</string>
			<key>FLOW_CTL</key>
			<false/>
			<key>PARITY_CTL</key>
			<false/>
			<key>PATH</key>
			<string></string>
			<key>USEDFOR</key>
			<string>THRD1_RelayUART</string>
		</dict>
		<dict>
			<key>BAUD_RATE</key>
			<integer>230400</integer>
			<key>CLASSNAME</key>
			<string>Device</string>
			<key>CTL_TYPE</key>
			<string>UART</string>
			<key>FLOW_CTL</key>
			<false/>
			<key>PARITY_CTL</key>
			<false/>
			<key>PATH</key>
			<string></string>
			<key>USEDFOR</key>
			<string>THRD2_DevUART</string>
		</dict>
		<dict>
			<key>BAUD_RATE</key>
			<real>9600</real>
			<key>CLASSNAME</key>
			<string>RelayBox</string>
			<key>CTL_TYPE</key>
			<string>UART</string>
			<key>FLOW_CTL</key>
			<false/>
			<key>PARITY_CTL</key>
			<false/>
			<key>PATH</key>
			<string></string>
			<key>USEDFOR</key>
			<string>THRD2_RelayUART</string>
		</dict>
		<dict>
			<key>BAUD_RATE</key>
			<integer>230400</integer>
			<key>CLASSNAME</key>
			<string>Device</string>
			<key>CTL_TYPE</key>
			<string>UART</string>
			<key>FLOW_CTL</key>
			<false/>
			<key>PARITY_CTL</key>
			<false/>
			<key>PATH</key>
			<string></string>
			<key>USEDFOR</key>
			<string>THRD3_DevUART</string>
		</dict>
		<dict>
			<key>BAUD_RATE</key>
			<real>9600</real>
			<key>CLASSNAME</key>
			<string>RelayBox</string>
			<key>CTL_TYPE</key>
			<string>UART</string>
			<key>FLOW_CTL</key>
			<false/>
			<key>PARITY_CTL</key>
			<false/>
			<key>PATH</key>
			<string></string>
			<key>USEDFOR</key>
			<string>THRD3_RelayUART</string>
		</dict>
		<dict>
			<key>BAUD_RATE</key>
			<integer>230400</integer>
			<key>CLASSNAME</key>
			<string>Device</string>
			<key>CTL_TYPE</key>
			<string>UART</string>
			<key>FLOW_CTL</key>
			<false/>
			<key>PARITY_CTL</key>
			<false/>
			<key>PATH</key>
			<string></string>
			<key>USEDFOR</key>
			<string>THRD4_DevUART</string>
		</dict>
		<dict>
			<key>BAUD_RATE</key>
			<real>9600</real>
			<key>CLASSNAME</key>
			<string>RelayBox</string>
			<key>CTL_TYPE</key>
			<string>UART</string>
			<key>FLOW_CTL</key>
			<false/>
			<key>PARITY_CTL</key>
			<false/>
			<key>PATH</key>
			<string></string>
			<key>USEDFOR</key>
			<string>THRD4_RelayUART</string>
		</dict>
	</array>
	<key>EU_enable</key>
	<false/>
	<key>EXE_MODE</key>
	<string>B235+B288</string>
	<key>iCheckStation</key>
	<false/>
	<key>ForFusedDevice</key>
	<false/>
	<key>ForB235</key>
	<true/>
	<key>ForB435</key>
	<false/>
	<key>ForB288</key>
	<true/>
	<key>ForB188</key>
	<false/>
	<key>FIS_DEFECT_CODE</key>
	<string>NA</string>
	<key>FullScreenMode</key>
	<string>0</string>
	<key>PASSWORD</key>
	<string>b235</string>
	<key>PRODUCT</key>
	<string>B235</string>
	<key>PROV_IP</key>
	<string>17.239.128.210</string>
	<key>STATION_NAME</key>
	<string>IAC_B288_B235_NewShippingSettings</string>
	<key>TEST_UPPER_LIMIT</key>
	<string>10000000</string>
	<key>TESTS</key>
	<dict>
		<key>CheckPudding</key>
		<dict>
			<key>skip</key>
			<true/>
		</dict>
		<key>CheckBatman_Case</key>
		<dict>
			<key>skip</key>
			<false/>
			<key>max</key>
			<integer>85</integer>
			<key>min</key>
			<integer>60</integer>
			<key>name</key>
			<string>CheckBatman_Case</string>
		</dict>
		<key>finishWorkHandler</key>
		<dict>
			<key>skip</key>
			<false/>
		</dict>
	</dict>
	<key>TEST_ITEM_NAME</key>
	<array>
		<string>CheckPudding</string>
		<string>CheckBatman_Case</string>
		<string>finishWorkHandler</string>
	</array>
</dict>
</plist>
